/* css comun */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
 
}
/*  uso margin 0 para que desaparezcan los margenes del 
body que comprende toda la pagina */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: sticky;
    top: 0;

}
 /*  el fondo de tono grisaceo y el color de letra blanco,
 uso el padding para añadir el espacio/grosor que necesito 
 para que la pagina se vea como quiero, el text align center para centrar el titulo
 le meto la position sticky con top 0  para que se quede el header fijo cuando haya scroll,*/
aside {
    width: 16%;
    padding: 20px;
}
/* Cogemos el 16% del margen del contenedor padre para dar el
    ancho deseado a los laterales agrega un relleno (espacio interno)
     de 20 píxeles en todas las direcciones (arriba, derecha, abajo 
     e izquierda) al elemento <aside>. El relleno aumenta el espacio 
     entre el contenido del <aside> y sus bordes */

aside.left {
    float: left;
    background-color: #f2f2f2;
    height: 800px;
    line-height: 2;
    text-decoration: underline;
}

aside.right {
    float: right;
    height: 800px;
    background-color: #f2f2f2;
    line-height: 2;
    text-decoration: underline;

}
/* para colocar un aside en cada lado les di la clase,
le coloque el float para que se colocaran cada uno al lado
una altura predeterminada,el mismo color de fondo para que la 
apariencia sea igual,un espaciado entre lineas de 2 y que
el texto dentro apareciera subrayado */

aside.left h2 {
    text-align: center;
}


aside.right h2 {
    text-align: center;
}

/* uso esta etiqueta para que centre el contenido 
horizontalmente los h2 */

footer {
    clear: both;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
/* Establece el color de fondo, el color del texto,
 centra el contenido horizontalmente, agrega un relleno 
 alrededor del contenido y especifica que el pie de página 
 debe aparecer debajo de cualquier elemento flotante.*/

a:hover {
    color: blueviolet;
 }

 
 a {
     color: blue;
 }
 ul {
    list-style-type:square;
 }
/* a:hover para cuando el raton pase por encima cambie de color
a color para que aparezca en el color seleccionado y el list
style type para que aparezca un cuadrado en vez de un círculo */

/* index */

.columnas {
    margin: 20px;
    box-sizing: border-box;
    column-gap: 10px;
    columns: 3;    
}
/* Establece un margen exterior de 
20 píxeles alrededor del contenedor,
 border box para que el tamaño total del contenedor se mantenga
constante incluso si se agrega relleno o bordes. 
column gap establece la separación entre las columnas dentro del contenedor
y columns para el numero de columnas deseado en el contenedor */
.column {
    padding: 15px;
}
/*  Agrega un relleno de 15 píxeles alrededor del contenido del elemento.  */

.areacont {
   text-align: center;
   text-decoration: underline;
   letter-spacing: 1px;
}
/* lo he usado para los encabezados y subencabezados para 
alinearlos horizontalmente,que aparezcan subrayados con un espacio
entre letras de un pixel */

.aficiones{
    columns: 2;
}

/* en el contenedor con clase aficiones para que haya dos columnas */
.viajar {
    float: left;
    padding: 10px;
}

.deportes {
    float: right;
    padding: 10px;
}
/* he añadido las fotos con float para posicionarlas
en dos columnas y usado padding */
figcaption {
    text-align: center;
}
/* para el pie de foto se alinee en el centro con la misma */

/* curriculum vitae */
  table {
    border-collapse: collapse;
    margin-left: auto;  
    margin-right: auto; 
  }
/* bordes de las celdas se combinan, es decir, 
no hay espacio entre las celdas adyacentes
y el margin auto a cada lado para que me lo centre horizontalmente */
  div.temp h2 {
    text-align: center;
    text-decoration: underline;
  }

/* alinear y subrayar los encabzados */

  th, td {
    padding: 12px;
    border: 1px solid #333;
    text-align: left;
  }
/* Define un borde alrededor de cada celda con un grosor de 1 píxel,
 un estilo sólido, Esto crea una separación visual entre las celdas. */
  th {
    background-color: #f2f2f2;
  }
  /* color de fondo */




 .fotocv {
    text-align: center;
    height: 5cm;
    width: 4cm;
    margin-left: 10.5cm;
    margin-top: 1cm;
    
}

/*  con height(alto) y width(ancho) le damos tamaño a la foto
y usamos los margin esta vez con centimetros para centrar la imagen
a nuestro gusto*/

.leftcurri{
    float: left;
    background-color: #f2f2f2;
    height: 1300px;
    line-height: 2;
    text-decoration: underline;
}

.rightcurri {
    float: right;
    height: 1300px;
    background-color: #f2f2f2;
    line-height: 2;
    text-decoration: underline;
}

/* tenemos en esta pagina clases para los aside
ya que vamos a necesitar mas alto para esta página
en concreto */

aside.rightcurri h2 {
    text-align: center;
}
aside.leftcurri h2 {
    text-align: center;
}
/* centramos subencabezados  */

video {
    height: 280px;
    width: 300px;
    margin-left: 300px;
    margin-top: 50px;
}
/* damos tamaño al video y posicionamiento al video */
/* formulario */

label{
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    color: #333;
}

/* tamaño de fuente,italic para cursiva,bold negrita y color */


input[type="button"] {
    cursor:pointer;
  }

  /* para que al pasar por el boton se ponga el dedo */


/* documentacion */

.fondodocu {
    background-image: url(../img/nuevofondo.jpg);
}


.documento {
    margin-left: 650px;
    margin-top: 300px;
    
}
.documento2 {
    margin-left: 650px;
    margin-bottom: 500px;
}

.listadocu {
    color:black;
}