/* css comun */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1;
 
}


aside {
    width: 20%;
    padding: 20px;
    box-sizing: border-box;
}

aside.left {
    float: left;
    background-color: #f2f2f2;
    height: 800px;
    line-height: 2;
}

aside.right {
    float: right;
    height: 800px;
    background-color: #f2f2f2;
    line-height: 2;

}

aside.left h2 {
    text-align: center;
}


aside.right h2 {
    text-align: center;
}



footer {
    clear: both;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

a:hover {
    color: blueviolet;
 }
 
 a {
     color: blue;
 }
 ul {
    list-style-type:square;
 }
/* index */

div.columnas {
    margin: 20px;
    box-sizing: border-box;
    column-gap: 10px;
    columns: 3;    
}

.column {
    margin-bottom: 20px;
    padding: 15px;
    break-inside: avoid;
}

.areacont {
   text-align: center;
   text-decoration: underline;
   letter-spacing: 1px;

}

.aficiones{
    columns: 2;
}
.viajar {
    float: left;
    padding: 10px;

}

.deportes {
    float: right;
    padding: 10px;
}

figcaption {
    text-align: center;
}
/* curriculum vitae */
  table {
    border-collapse: collapse;
    margin-left: auto;   
  }

  div.temp h2 {
    text-align: center;
    text-decoration: underline;
  }
  th, td {
    padding: 12px;
    border: 1px solid #333;
    text-align: left;
  }

  th {
    background-color: #f2f2f2;
  }


.tablascurri {
   
    margin-right: auto;
}

 .fotocv {
    text-align: center;
    height: 5cm;
    width: 4cm;
    margin-left: 10cm;
    margin-top: 1cm;
    
}

.leftcurri{
    float: left;
    background-color: #f2f2f2;
    height: 1500px;
    line-height: 2;
}

.rightcurri {
    float: right;
    height: 1500px;
    background-color: #f2f2f2;
    line-height: 2;
}

aside.rightcurri h2 {
    text-align: center;
}
aside.leftcurri h2 {
    text-align: center;
}

video {
    height: 280px;
    width: 300px;
    margin-left: 300px;
    margin-top: 50px;
}
/* formulario */

label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    color: #333;
}

input[type="button"] {
    cursor:pointer;
  }
/* documentacion */

.fondodocu {
    background-image: url(../img/nuevofondo.jpg);
}


