/* css comun */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
 
}
/*  uso margin 0 para que desaparezcan los margenes del body que comprende toda la pagina */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: sticky;
    top: 0;

}
 /*  el fondo de tono grisaceo y el color de letra blanco,
 uso el padding para añadir el espacio/grosor que necesito 
 para que la pagina se vea como quiero, el text align center para centrar el titulo
 le meto la position sticky con top 0  para que se quede el header fijo cuando haya scroll,*/
aside {
    width: 16%;
    padding: 20px;
}
/* Cogemos el 20% del margen del contenedor padre para dar el
    ancho deseado a los laterales agrega un relleno (espacio interno)
     de 20 píxeles en todas las direcciones (arriba, derecha, abajo 
     e izquierda) al elemento <aside>. El relleno aumenta el espacio 
     entre el contenido del <aside> y sus bordes */

aside.left {
    float: left;
    background-color: #f2f2f2;
    height: 800px;
    line-height: 2;
    text-decoration: underline;
}

aside.right {
    float: right;
    height: 800px;
    background-color: #f2f2f2;
    line-height: 2;
    text-decoration: underline;

}

aside.left h2 {
    text-align: center;
}


aside.right h2 {
    text-align: center;
}



footer {
    clear: both;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

a:hover {
    color: blueviolet;
 }
 
 a {
     color: blue;
 }
 ul {
    list-style-type:square;
 }
/* index */

.columnas {
    margin: 20px;
    box-sizing: border-box;
    column-gap: 10px;
    columns: 3;    
}

.column {
    margin-bottom: 20px;
    padding: 15px;
    break-inside: avoid;
}

.areacont {
   text-align: center;
   text-decoration: underline;
   letter-spacing: 1px;

}

.aficiones{
    columns: 2;
}
.viajar {
    float: left;
    padding: 10px;

}

.deportes {
    float: right;
    padding: 10px;
}

figcaption {
    text-align: center;
}
/* curriculum vitae */
  table {
    border-collapse: collapse;
    margin-left: auto;   
  }

  div.temp h2 {
    text-align: center;
    text-decoration: underline;
  }
  th, td {
    padding: 12px;
    border: 1px solid #333;
    text-align: left;
  }

  th {
    background-color: #f2f2f2;
  }


.tablascurri {
   
    margin-right: auto;
}

 .fotocv {
    text-align: center;
    height: 5cm;
    width: 4cm;
    margin-left: 10cm;
    margin-top: 1cm;
    
}

.leftcurri{
    float: left;
    background-color: #f2f2f2;
    height: 1300px;
    line-height: 2;
    text-decoration: underline;
}

.rightcurri {
    float: right;
    height: 1300px;
    background-color: #f2f2f2;
    line-height: 2;
    text-decoration: underline;
}

aside.rightcurri h2 {
    text-align: center;
}
aside.leftcurri h2 {
    text-align: center;
}

video {
    height: 280px;
    width: 300px;
    margin-left: 300px;
    margin-top: 50px;
}
/* formulario */

label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    color: #333;
}

input[type="button"] {
    cursor:pointer;
  }
/* documentacion */

.fondodocu {
    background-image: url(../img/nuevofondo.jpg);
}


.documento {
    margin-left: 650px;
    margin-top: 300px;
    
}
.documento2 {
    margin-left: 650px;
    margin-bottom: 500px;
}

.listadocu {
    color:black;
}